body
{background-image: url('../ImgBooom/relleno_del_fondo_general.png');
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.stilo_titulo
{
	font-family: Verdana;
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	color: #FFFFDD;
}
.Header
{
    clear:both;    
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url('../ImgBooom/trama_gris_superior.png');
    margin-bottom: 0px;
    position:absolute;
    z-index:1;
    width:100%;
    text-align:center;
    vertical-align:middle;
    top: 0px;
       
} 
.footer{
    height: 142px; /* .push must be the same height as .footer */
    background-image: url('../ImgBooom/trama_gris_inferior.png');
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    bottom:0%;
    clear: both;
    width:100%;
    z-index:1;
    left: 0px;   
}
.anchotabla
{
	
	z-index: 2;
	position: absolute;
	 text-align:left; 
	top:65px;
	
	left: 75px;
}

.MarcaAgua
{
    background-position: center center;
    background-image: url('../ImgBooom/tramabolas.png');
    background-repeat: no-repeat;
    clear: both;
    background-color: Transparent;
    z-index: 0;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height:100%;
    text-align: center;
    
}
	
.push
{
    height: 142px; /* .push must be the same height as .footer */
    bottom:0%;
}
.HeaderRight
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-family: verdana;
    font-size: 9px;
    text-align:right;
    vertical-align:middle;
}

  .labelsTit2
{
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	color: #000000;
}
.labels
{
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	text-align: center;
}
.labelsMensaje
{
	font-family: Verdana;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
.buttonPlan{
	border: 0px none Transparent;
	background-color: Transparent;
	background-image: url('../images/bg_btn_a.png');
	cursor: hand;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	}
.buttonPlan:hover {background-image: url('../images/bg_btn_ahover.png'); }

.MensajesError
{
	background-image: url('../images/MensajeSup.jpg'); 
   
}

.MensajesCorrecto
{
	background-image: url('../images/MensajeSupConfirm.jpg'); 
   
}

.ConfirmDialog
{
	background-image: url('../images/ConfirmDialog.png');    
}

.modalBackground
{
	background-color: #C0C0C0;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.busqueda
{
	background-color: #B3CBFF;
	padding: 2px 2px;
}


.alertas {
	 background-color:Transparent;
	 display:none;
	 
}

 .ScrollInforme
{
 overflow:auto;
 height: 114px;
 width:150px;
 
 background-color: Transparent;
 
}
.FondoHeaderGrid
{
      background-position: center center;
        background-repeat: repeat-x;
        background-image: url('../ImgBooom/interiorblancoHeaderGRid.png');       
        height: 36px;        
        width: 550px;
        padding-left:13px;
       
    
}
/*SE AGREGA STILO PARA SCROLL DE INFORME SE COPIA DE BACKSTYLE
 02/09/2010 Magaly jiménez*/
.p
{
	overflow: auto;
	width: 213px;
	height: 185px;
	background-color: #FFFFFF;
	padding: 2px 2px;
	font-size: 10pt;
	font-family: arial, Helvetica, sans-serif;
}


.buttonAdmPais{
	
	background-image: url('../images/divipol.png' );
	 background-repeat: repeat-x;    
    background-color:Transparent;
    border-style:none;
    width: 90px;
    height: 85px;
    cursor: pointer;
}
.buttonAdmPais:hover {background-image: url('../images/divipol_g.png'); }




.buttonAdmUsuario{
	
	background-image: url('../images/usuarios.png' );
	 background-repeat: repeat-x;    
    background-color:Transparent;
    border-style:none;
    width: 90px;
    height: 85px;
    cursor: pointer;
}
.buttonAdmUsuario:hover {background-image: url('../images/usuarios_g.png'); }

.buttonAdmProducto{
	
	background-image: url('../images/producto.png' );
	 background-repeat: repeat-x;    
    background-color:Transparent;
    border-style:none;
    width: 90px;
    height: 85px;
    cursor: pointer;
}
.buttonAdmProducto:hover {background-image: url('../images/producto_g.png'); }

.buttonAdmPDV{
	
	background-image: url('../images/pdeventa.png' );
	 background-repeat: repeat-x;    
    background-color:Transparent;
    border-style:none;
    width: 90px;
    height: 85px;
    cursor: pointer;
}
.buttonAdmPDV:hover {background-image: url('../images/pdeventa_g.png'); }

.buttonAdmInformes{
	
	background-image: url('../images/informes.png' );
	 background-repeat: repeat-x;    
    background-color:Transparent;
    border-style:none;
    width: 90px;
    height: 85px;
    cursor: pointer;
}
.buttonAdmInformes:hover {background-image: url('../images/informes_g.png'); }

.buttonAdmGeneral{
	
	background-image: url('../images/general.png' );
	 background-repeat: repeat-x;    
    background-color:Transparent;
    border-style:none;
    width: 90px;
    height: 85px;
    cursor: pointer;
}
.buttonAdmGeneral:hover {background-image: url('../images/general_g.png'); }

.modalProgressGreyBackground 
{
    background:#CCCCCC;
      filter:alpha(opacity=60);
      opacity:0.6;
}

.modalProgressRedBackground 
{
    background:Red;
      filter:alpha(opacity=60);
      opacity:0.6;
}

.modalPopup
{
    text-align:center;
    padding-top: 30px; 
    border-style:solid; 
    border-width:1px; 
    background-color:White; 
    width:300px; 
    height:100px;
}

/** Lineas de CSS nuevas **/
.dialogcontainer
{
    width:340px;
    margin: auto;
    list-style: none;
    margin-top: -5px        
    }
    
.rowcontainer
{    
    text-align: center;
    margin-bottom:20px;
    list-style: none;
    margin-top:20px    
    }

.ultable
{
    padding-top: 50px
    }
    
.divtable
{
    display: table; 
    margin: auto;
    margin-top: 8px;
    width: 300px
    }
    
.divrow
{
    float: left; 
    height: 26px;
    margin-left: 10px;
    margin-right: 10px
    }
    
.divcell1
{
    float: left; 
    height: 26px; 
    width: 100px
    }
    
.divcell2
{
    float: left; 
    height: 26px; 
    width: auto
    }
    
.spanlabelstit2
{
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	color: #000000	
}
.spanlabels
{
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	text-align: center;
}

.titleposition
{
    margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 280px;
	text-align: center;
	margin:auto
}

#botonerabnode
{
    width: 280px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center
    }
    /**
    .tabla{ display: table; margin-top:3px; margin-bottom:3px}
    .fila{ display: table-row; margin-top:3px; margin-bottom:3px}
    .celda{ display: table-cell; margin-top:3px; margin-bottom:3px; padding-top:3px; padding-bottom:3px}
    **/
    
    .tabla{ display: table;}
    .fila{ display: table-row;}
    .celda{ display: table-cell;}
    
#main_basic
{
    width: 750px;
    margin: auto
    }
#main_geo
{
    width: 650px;
    margin: auto
    }
    
.centrar
{
    width: auto;
    margin: auto
    }
    
.centrarcontenido
{
    text-align:center
}

/*Estilos CSS para ModalPopUp de Products -->*/
.modalBackgroundGVProducto
{
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
 .modalPopupGVProducto
{
    background-color: #FFFFFF;
    width: 800px;
    border: 3px solid #0DA9D0;
    border-radius: 12px;
    padding:0          
}
.modalPopupGVProducto .headerGVProducto
{
    background-color: #2FBDF1;
    height: 30px;
    color: White;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modalPopupGVProducto .bodyGVProducto
{
    min-height: 50px;
    /*line-height: 30px;*/
    text-align: center;
    /*font-weight: bold;*/

}
.modalPopupGVProducto .footerGVProducto
{
    padding: 6px;
}
.modalPopupGVProducto .ok, .modalPopupGVProducto .cancel
{
    height: 23px;
    color: White;
    /*line-height: 23px;*/
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.modalPopupGVProducto .ok
{
    background-color: #2FBDF1;
    border: 1px solid #0DA9D0;
}
.modalPopupGVProducto .cancel
{
    background-color: #9F9F9F;
    border: 1px solid #5C5C5C;
}

/*Css for Panel Products Find*/
.modalBackgroundFindProducts
{
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
 .modalPopupFindProducts
{
    background-color: #FFFFFF;
    width: 363px;
    border: 3px solid #0DA9D0;
    border-radius: 12px;
    padding:0          
}
.modalPopupFindProducts .headerFindProducts
{
    background-color: #2FBDF1;
    height: 30px;
    color: White;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modalPopupFindProducts .bodyFindProducts
{
    min-height: 50px;
    /*line-height: 30px;*/
    text-align: center;
    /*font-weight: bold;*/

}
.modalPopupFindProducts .footerFindProducts
{
    padding: 6px;
}
.modalPopupFindProducts .ok, .modalPopupFindProducts .cancel
{
    height: 23px;
    color: White;
    /*line-height: 23px;*/
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.modalPopupFindProducts .ok
{
    background-color: #2FBDF1;
    border: 1px solid #0DA9D0;
}
.modalPopupFindProducts .cancel
{
    background-color: #9F9F9F;
    border: 1px solid #5C5C5C;
}



/*Estilos Generales*/
.buttonOk, .buttonCancel{
    height: 23px;
    color: White;
    /*line-height: 23px;*/
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
.buttonOk
{
    background-color: #2FBDF1;
    border: 1px solid #0DA9D0;
}
.buttonCancel
{
    background-color: #9F9F9F;
    border: 1px solid #5C5C5C;
}