<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SIGE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="false">
    <appender name="MBSimoRollingFileAppender" type="log4net.Appender.RollingFileAppender">

      <!--Author: Pablo Salas A. Fecha:  30/07/2012  Descripcion: Log de PRODUCCION-->
      <file value="C:\Apps\Mobile\Services_Deploy\Log\DeployLog2.txt"/>
      <!--Author: Pablo Salas A. Fecha:  30/07/2012  Descripcion: Log de PRUEBAS-->
      <!--<file value="C:\Apps\Mobile\Services_Prueba\Log\DeployLog.txt"/>-->

      <!--<file value="D:\Apps\Log\LuckyMerLog.txt"/>-->

      <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="MBSimoRollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>


  <appSettings>
    <add key="ErrorConection" value="Error en el nivel de transporte al enviar la solicitud al servidor. (provider: Proveedor de TCP, error: 0 - Se ha forzado la interrupción de una conexión existente por el host remoto.)" />
    <add key="CargaMasiva_Presencia" value="SELECT * FROM [Presencia$]" />
    <add key="Roles" value="Roles" />
    <add key="Niveles" value="Person_Level" />
    <add key="Perfiles" value="Profiles" />
    <add key="Usuario" value="Person" />
    <add key="Usuario_name" value="Person_name" />
    <add key="usuarioMovil" value="personmovil" />
    <add key="Servicios" value="Strategies" />
    <add key="ItemServ" value="Strategit_Points" />
    <add key="mpop" value="MPointOfPurchase" />
    <add key="clientes" value="Company" />
    <add key="Canales" value="Channel" />
    <add key="TipoCanal" value="Channel_Type" />
    <add key="Cadenas" value="MarketChain" />
    <add key="Segments_Type" value="Segments_Type" />
    <add key="PDV" value="PointOfSale" />
    <add key="PDVdoc" value="PointOfSaleDoc" />
    <add key="PointOfSale_Client" value="PointOfSale_Client" />
    <add key="Malla" value="Malla" />
    <add key="Sector" value="Sector" />
    <add key="ProductCategory" value="ProductCategory" />
    <add key="ProductTipo" value="Product_Tipo" />
    <add key="Brand" value="Brand" />
    <add key="SubBrand" value="SubBrand" />
    <add key="Presentaciones" value="Product_Presentations" />
    <add key="Productos" value="Products" />
    <add key="AsignaciónInfoaUsuario" value="CLIE_Users_Reports" />
    <add key="ProductosEAN" value="ProductsEAN" />
    <add key="ReportestipoInf" value="Reports_TypeReport" />
    <add key="ReportesModulo" value="Reports_Modulo" />
    <add key="ReportesVsServ" value="Reports_Strategit" />
    <add key="Estructura" value="Item_Points" />
    <add key="Indicador" value="Indicadores" />
    <add key="Paises" value="Country" />
    <add key="Departamento" value="Departament" />
    <add key="Ciudad" value="CityCountry" />
    <add key="CiudadDto" value="CityDto" />
    <add key="DistritoCity" value="DistrictCity" />
    <add key="DistritoCountry" value="DistrictCountry" />
    <add key="DistritoDepto" value="DistrictDepto" />
    <add key="BarrioCountry" value="CommunityCountry" />
    <add key="BarrioDpto" value="CommunityDpto" />
    <add key="BarrioCity" value="CommunityCity" />
    <add key="BarrioDistrict" value="CommunityDistrict" />
    <add key="TipoNodo" value="NodeComercial_Type" />
    <add key="Nodo" value="NodeCommercial" />
    <add key="PersonBudget" value="PersonBudget" />
    <add key="PersonPerson_Asign_Ejec_Direct" value="PersonPerson_Asign_Ejec_Direct" />
    <add key="PersonDirPerson_Asign_Ejec_Direct" value="PersonDirPerson_Asign_Ejec_Direct" />
    <add key="CompanyBudget" value="CompanyBudget" />
    <add key="CompanyPerson" value="CompanyPerson" />
    <add key="CompanyProducts" value="CompanyProducts" />
    <add key="RolesProfiles" value="RolesProfiles" />
    <add key="NivelesappLucky" value="NivelesappLucky" />
    <add key="NivelesProfiles" value="NivelesProfiles" />
    <add key="ProfilesBudget" value="ProfilesBudget" />
    <add key="ProfilesPerson" value="ProfilesPerson" />
    <add key="StrategiesIndicadores" value="StrategiesIndicadores" />
    <add key="StrategiesItemPoints" value="StrategiesItemPoints" />
    <add key="StrategiesPlanning" value="StrategiesPlanning" />
    <add key="StrategiesQuestionStrategy" value="StrategiesQuestionStrategy" />
    <add key="StrategiesreportStrategy" value="StrategiesreportStrategy" />
    <add key="StrategiesStPoints" value="StrategiesStPoints" />
    <add key="Strategit_PointsItemPoints" value="Strategit_PointsItemPoints" />
    <add key="MPointOfPurchaseMPointOfPurchase_Planning" value="MPointOfPurchaseMPointOfPurchase_Planning" />
    <add key="ChannelPlanning" value="ChannelPlanning" />
    <add key="ChannelPointOfSale" value="ChannelPointOfSale" />
    <add key="Segments_TypeSegments" value="Segments_TypeSegments" />
    <add key="Segments_TypePointOfSale" value="Segments_TypePointOfSale" />
    <add key="Segments" value="Segments" />
    <add key="SegmentsPointOfSale" value="SegmentsPointOfSale" />
    <add key="PointOfSalePointOfSale_Planning" value="PointOfSalePointOfSale_Planning" />
    <add key="ProductsProducts_Planning" value="ProductsProducts_Planning" />
    <add key="ProductsProducts_Packing" value="ProductsProducts_Packing" />
    <add key="ReportsReports_Strategit" value="ReportsReports_Strategit" />
    <add key="Reports_StrategitReports_Planning" value="Reports_StrategitReports_Planning" />
    <add key="Reports_StrategitIndicadores" value="Reports_StrategitIndicadores" />
    <add key="Item_PointsItem_Point_Detalle" value="Item_PointsItem_Point_Detalle" />
    <add key="Item_PointsContenedora_Formatos" value="Item_PointsContenedora_Formatos" />
    <add key="CountryappLucky" value="CountryappLucky" />
    <add key="CountryCity" value="CountryCity" />
    <add key="CountryCommunity" value="CountryCommunity" />
    <add key="CountryCompany" value="CountryCompany" />
    <add key="CountryDepartament" value="CountryDepartament" />
    <add key="CountryDistrict" value="CountryDistrict" />
    <add key="CountryPerson" value="CountryPerson" />
    <add key="CountryPointOfSale" value="CountryPointOfSale" />
    <add key="CountryStrategies" value="CountryStrategies" />
    <add key="DepartamentCity" value="DepartamentCity" />
    <add key="DepartamentCommunity" value="DepartamentCommunity" />
    <add key="DepartamentDistrict" value="DepartamentDistrict" />
    <add key="DepartamentPointOfSale" value="DepartamentPointOfSale" />
    <add key="CityCity_Planning" value="CityCity_Planning" />
    <add key="CityCommunity" value="CityCommunity" />
    <add key="CityDistrict" value="CityDistrict" />
    <add key="CityPointOfSale" value="CityPointOfSale" />
    <add key="DistrictCommunity" value="DistrictCommunity" />
    <add key="DistrictPointOfSale" value="DistrictPointOfSale" />
    <add key="CommunityPointOfSale" value="CommunityPointOfSale" />
    <add key="MarketChainPointOfSale" value="MarketChainPointOfSale" />
    <add key="IndicadoresReports" value="IndicadoresReports" />
    <add key="NodeComercial_TypeNodeCommercial" value="NodeComercial_TypeNodeCommercial" />
    <add key="NodeComercial_TypePointOfSale" value="NodeComercial_TypePointOfSale" />
    <add key="NodeCommercialPointOfSale" value="NodeCommercialPointOfSale" />
    <add key="ProductCategoryProduct_Tipo" value="ProductCategoryProduct_Tipo" />
    <add key="Product_TipoProducts" value="Product_TipoProducts" />
    <add key="BrandProducts_Planning" value="BrandProducts_Planning" />
    <add key="BrandProducts" value="BrandProducts" />
    <add key="Brand_SubBrand" value="Brand_SubBrand" />
    <add key="SubBrandProducts" value="SubBrandProducts" />
    <add key="Product_PresentationsProducts" value="Product_PresentationsProducts" />
    <add key="Staff_Planning" value="Staff_Planning" />
    <add key="Product_planning" value="Product_planning" />
    <add key="AD_ProductosAncla" value="AD_ProductosAncla" />
    <add key="Product_SubCategory" value="Product_SubCategory" />
    <add key="ReportChannel" value="ReportChannel" />
    <add key="Reports_Channels" value="Reports_Channels" />
    <add key="Reports_Planning" value="Reports_Planning" />
    <add key="PLA_Category_Planning" value="PLA_Category_Planning" />
    <add key="CargaMasiva_LevantaPublicaciones" value="SELECT * FROM [Publicaciones$]" />
    <add key="CargaMasiva_LevantaExhibiImpulso" value="SELECT * FROM [ExhibiImpulso$]" />
    <add key="CargaMasiva_LevantaMaterialPOP" value="SELECT * FROM [MaterialPOP$]" />
    <add key="City_UserRepor" value="City_UserRepor" />
    <add key="AD_Oficina" value="AD_Oficina" />
    <add key="AD_Corporacion" value="AD_Corporacion" />
    <add key="PLA_Brand_Planning" value="PLA_Brand_Planning" />
    <add key="AD_Report_Oficina" value="AD_Report_Oficina" />
    <add key="PLA_Panel_Planning" value="PLA_Panel_Planning" />
    <add key="PLA_Family_Planning" value="PLA_Family_Planning" />
    <add key="CargaMasiva_AD_Pto_Venta_Cliente" value="SELECT * FROM [PtoVenta_Cliente$]" />
    <add key="Archivo80" value="SELECT * FROM [Archivo80$]" />
    <add key="Archivo20" value="SELECT * FROM [Archivo20$]" />
    <add key="TamperProofKey" value="YourUglyRandomKeyLike-lkj54923c478" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="LANG" value="ES" />
    <add key="COUNTRY" value="589" />
    <add key="DBSERVER" value="Ingenio1" />
    <add key="DBNAMEPE" value="BDLUCKYCODEV" />
    <add key="DBUSUAR" value="sa" />
    <add key="DBPASSWORD" value="valentina" />
    <add key="USERERROR" value="sysweb" />
    <add key="PSWDERROR" value="sysweb" />
    <add key="DBREPSERVER" value="SW2K8DC1" />
    <add key="TARGETSERVER" value="ReportServer" />
    <add key="UploadImageType" value="image/pjpeg" />
    <add key="UploadImageMaxSize" value="25" />
    <add key="UploadTargetDir" value="~/Images" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="User" value="adminxplora@lucky.com.pe" />
    <add key="Pass" value="xplo11ra$" />
    <add key="Puerto" value="587" />
    <add key="EMailDesarrolladores" value="destrada@lucky.com.pe, psalas@lucky.com.pe,cmarin@lucky.com.pe, gfarfan@lucky.com.pe, ccastilla@lucky.com.pe" />
    <add key="EmailGerenciaIT" value="chernandez.col@lucky.com.pe" />
    <!--ruta del servidor de reportes-->
    <add key="SERVIDOR_REPORTING_SERVICES" value="http://LUCKYDC02/ReportServer" />
    <add key="ReportUser" value="Administrador" />
    <add key="ReportServerDomain" value="LUCKYSAC" />
    <add key="ReportUserPass" value="2012grup0Lucky%" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="PerfilAnalista" value="0090" />
    <add key="PerfilClienteGeneral" value="0014" />
    <add key="PerfilClienteDetallado" value="0013" />
    <add key="PerfilClienteDetallado1" value="0033" />
    <add key="CargaMasiva_Marcas" value="SELECT * FROM [Marcas$]" />
    <add key="CargaMasiva_Categorias" value="SELECT * FROM [Categoria$]" />
    <add key="CargaMasiva_SubCategorias" value="SELECT * FROM [SubCategoria$]" />
    <add key="CargaMasiva_Productos" value="SELECT * FROM [Productos$]" />
    <add key="CargaMasiva_Pla_Precio" value="SELECT * FROM [FORMATO_PLANNIG_CARGAMASIVA_PRE$]" />
    <add key="CargaMasiva_Ope_Precio" value="SELECT * FROM [Precio$]" />
    <add key="CargaMasiva_Ope_Stock" value="SELECT * FROM [Stock$]" />
    <add key="CargaMasiva_Ope_SOD" value="SELECT * FROM [SOD$]" />
    <add key="CargaMasiva_Ope_Quiebre" value="SELECT * FROM [Quiebre$]" />
    <add key="CargaMasiva_Ope_Layout" value="SELECT * FROM [Layuot$]" />
    <add key="CargaMasiva_Pla_ObjetivosMay" value="SELECT * FROM [Objetivos$]" />
    <add key="CargaMasiva_ope_Reporte_Spot" value="SELECT * FROM [Spot$]" />
    <add key="CargaMasiva_Pla_Productos" value="SELECT * FROM [Productos_Planning$]" />
    <add key="CargaMasiva_Pla_Pto_Venta" value="SELECT * FROM [Puntos_Venta$]" />
    <add key="CargaMasiva_Pancla" value="SELECT * FROM [Pancla$]" />
    <add key="CargaMasiva_SubMarca" value="SELECT * FROM [SubMarca$]" />
    <add key="CargaMasiva_Familia" value="SELECT * FROM [Familia$]" />
    <add key="ProductFamily" value="ProductFamily" />
    <add key="CargaMasiva_Pla_Marcas" value="SELECT * FROM [Marcas_Planning$]" />
    <add key="CargaMasiva_Pla_Familias" value="SELECT * FROM [Familias_Planning$]" />
    <add key="CargaMasiva_Pla_Categorias" value="SELECT * FROM [Categorias_Planning$]" />
    <add key="Parametros_Reports" value="Parametros_Reports" />
    <add key="AD_SubCanal" value="AD_SubCanal" />
    <add key="Reports" value="Reports" />
    <!--keys para el Modulo OPE_Digitacion.aspx agregado el Fecha:15/06/2011 Por:Pablo Salas. -->
    <add key="FORMATO_FINAL_SOD" value="FORMATO FINAL SOD" />
    <add key="FORMATO_FINALES_PRECIOS" value="FORMATO FINALES PRECIOS" />
    <add key="FORMATO_FINALES_DG" value="FORMATO FINALES DG" />
    <add key="FORMATO_AGCOCINA" value="AG COCINA" />
    <add key="FORMATO_MIMASKOT" value="MIMASKOT" />
    <add key="FORMATO_PRECIOS_CUIDADOCABELLO" value="PRECIOS CUIDADO DEL CABELLO" />
    <add key="FORMATO_DIASGIRO" value="DIAS GIRO CUIDADO DEL CABELLO" />
    <add key="FORMATO_NUTRICAN" value="NUTRICAN" />
    <add key="FORMATO_PROMOCION_GALLETAS" value="PROMOCION GALLETAS" />
    <add key="FORMATO_ABMASCOTASINFSEM" value="AB MASCOTAS - INFORME SEMANAL" />
    <add key="FORMATO_ABMASCOTASHOJACONTROL" value="AB MASCOTAS - HOJA DE CONTROL" />
    <add key="FORMATOHDCABARROTES_ROTACIONMULTICATEGORIA" value="FORMATO HDC ABARROTES - ROTACION MULTICATEGORIA" />
    <!--keys para el Modulo OPE_Digitacion.aspx agregado el Fecha:08/07/2011 Por:Pablo Salas. -->
    <add key="FORMATO_RESUMEN_CANJE_ANUA" value="FORMATO RESUMEN DE CANJE ANUA" />
    <add key="FORMATO_CANJE_ANUA" value="FORMATO DE CANJE ANUA" />
    <add key="FORMATO_HDC_CANJE" value="FORMATO HDC CANJE" />
    <add key="FORMATO_HDC_CANJE_STOCK_PREMIOS_TIRA_1_millar" value="FORMATO HDC CANJE - STOCK DE PREMIOS TIRA 1 millar" />
    <add key="FORMATO_RESUMEN_CANJE_PLUSBELLE" value="FORMATO RESUMEN DE CANJE PLUSBELLE" />
    <add key="COMPETENCIA_ANUA" value="COMPETENCIA ANUA" />
    <add key="COMPETENCIA_MAYORISTA" value="COMPETENCIA_MAYORISTA" />
    <!--FIN keys para Modulo OPE_Digitacion.aspx -->
    <!--Keys Informacion Gerencial Alicorp Ing. Carlos Hernandez 20/07/2011 -->
    <add key="Informacion_Gerencial" value="52" />
    <add key="Manuales" value="1" />
    <add key="Evaluaciones_Indicadores" value="2" />
  </appSettings>
  <connectionStrings>
    <add name="ConectaDBLucky" connectionString="Data Source=PWDPERU10103;Initial Catalog=BDLUCKYPRD; Persist Security Info=True;User ID=sqluser;Password=Lucas2016" providerName="System.Data.SqlClient"/>
    <!--Se define la conexión a la Base de Datos BDLUCKYPRD de XPLORA PRODUCCCION	-->
    <!--<add name="ConectaDBLucky" connectionString="Data Source=LUCKYDC02;Initial Catalog=BDLUCKYPRD;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConectaDBLucky" connectionString="Data Source=.;Initial Catalog=BDLUCKYPRD;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <!--Se define la conexión a la Base de Datos DB_LUCKY_TMP de LUCKYMER PRODUCCION -->
    <!--<add name="ConectaDBLucky_Tmp" connectionString="Data Source=LUCKYDC02;Initial Catalog=DB_LUCKY_TMP;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient" />-->
    <!--Se define la conexión a la Base de Datos BDLUCKYCO de XPLORA DESARROLLO -->
    <!--<add name="ConectaDBLucky" connectionString="Data Source=LUCKYDC;Initial Catalog=BDLUCKYCODEV;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient"/> -->
    <!--Se define la conexión a la Base de Datos DB_LUCKY_TMP de LUCKYMER DESARROLLO-->
    <!--<add name="ConectaDBLucky_Tmp" connectionString="Data Source=LUCKYDC;Initial Catalog=DB_LUCKY_TMP_DEV;Persist Security Info=True;User ID=nextelconecta;Password=sysconecta" providerName="System.Data.SqlClient"/> -->
    <!--Se Define la conexion a la Base de Datos de EasyWin     
    <add name="ConectaDBEasywin" connectionString="Data Source=sw2k8dc1;Initial Catalog=BDEasywin;Persist Security Info=True;User ID=userdev;Password=systemdev" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
    -->
    <httpRuntime executionTimeout="16400" maxRequestLength="2097151"
      requestLengthDiskThreshold="20000000" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="eWorld.UI, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="eWorld.UI.Compatibility, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2" />
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DynamicData, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Telerik.Web.UI, Version=2009.2.826.35, Culture=neutral, PublicKeyToken=121FAE78165BA3D4"/>-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows" />
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.
 -->
    <customErrors mode="RemoteOnly" defaultRedirect="menesaje_usu.html">
      <!--<error statusCode="403" redirect="menesaje_usu.html" />-->
      <!--<error statusCode="404" redirect="menesaje_usu.html" />-->
    </customErrors>
   
    <!--  CONFIGURACIÓN DE ESTADO DE SESIÓN 
          De forma predeterminada ASP.NET utiliza cookies para identificar qué solicitudes pertenecen a una sesión determinada. 
          Si las cookies no están disponibles, puede realizar el seguimiento de una sesión agregando un identificador de sesión a la dirección URL. 
          Para deshabilitar las cookies, establezca sessionState cookieless="true".
    -->
    <sessionState mode="InProc" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="true" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" />
    </httpModules>
  
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!-- UrlRewriter code here -->
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="ChartImageHandler" />
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SIGE.Properties.Settings>
      <setting name="SIGE_Facades_Interface_Easywin_Facade_Info_EasyWin_for_SIGE"
        serializeAs="String">
        <value>http://localhost:14000/Facade_Info_EasyWin_for_SIGE.asmx</value>
      </setting>
      <setting name="SIGE_PgeLoad_PgeLoad" serializeAs="String">
        <value>http://localhost:14000/Pages/Modulos/Planning/PgeLoad.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Procesos_Administrativos_Facade_Procesos_Administrativos"
        serializeAs="String">
        <value>http://localhost:14000/Facade_Procesos_Administrativos.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Gestion_Informacion_Facade_Gestion_Informacion"
        serializeAs="String">
        <value>http://localhost:14000/Facade_Gestion_Informacion.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Interface_EasyWin_Facade_Info_EasyWin_for_SIGE"
        serializeAs="String">
        <value>http://localhost:14000/Facade_Info_EasyWin_for_SIGE.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Menu_strategy_Facade_MPlanning" serializeAs="String">
        <value>http://localhost:14000/Facade_MPlanning.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Proceso_Cliente_Facade_Proceso_Cliente"
        serializeAs="String">
        <value>http://localhost:14000/Facade_Proceso_Cliente.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Proceso_Supervisor_Facade_Proceso_Supervisor"
        serializeAs="String">
        <value>http://localhost:14000/Facade_Proceso_Supervisor.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Search_Facade_Search" serializeAs="String">
        <value>http://localhost:14000/Facade_Search.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Proceso_Operativo_Facade_Proceso_Operativo"
        serializeAs="String">
        <value>http://localhost:14000/Facade_Proceso_Operativo.asmx</value>
      </setting>
      <setting name="SIGE_Facade_Proceso_Planning_Facade_Proceso_Planning"
        serializeAs="String">
        <value>http://localhost:14000/Facade_Proceso_Planning.asmx</value>
      </setting>
    </SIGE.Properties.Settings>
  </applicationSettings>

 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMenuService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMenuService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sige.lucky.com.pe:9091/MenuService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMenuService"
        contract="MenuService1.IMenuService" name="WSHttpBinding_IMenuService">
        <identity>
          <servicePrincipalName value="host/LUCKYWS02.LUCKY.local" />
        </identity>
      </endpoint>
      <endpoint address="http://sige.lucky.com.pe:9091/MenuService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuService"
        contract="MenuService1.IMenuService" name="BasicHttpBinding_IMenuService" />
    </client>
  </system.serviceModel>


</configuration>